<footer class="bg-[#111] border-t border-[#222] mt-10 py-6 text-center text-xs text-gray-600">
      <p>Semua komik di website ini hanya preview dari komik aslinya, mungkin terdapat banyak kesalahan bahasa, nama tokoh, dan alur cerita. Untuk versi aslinya, silahkan beli komiknya jika tersedia di kotamu.</p>
    </footer>

</body>

</html>